// layout vh/vw

.destination-main {
  // backgourd
  background-image: url(../images/destination/background-destination-mobile.jpg);
  .destination {
    // typographie
    h1 {
      font-size: 3.5rem;
    }

    // layout
    .destination-img {
      padding-bottom: 3.66vh;
      img {
        width: 170px;
      }
    }

    ul {
      width: 237.5px;

      margin: 0 auto;
      padding-bottom: 1.25rem; // 20px
      justify-content: space-between;

      li {
        cursor: pointer;
      }
    }
    h1 {
      padding-bottom: 0.0625rem; //1px
    }
    p {
      padding-bottom: 2rem;
    }
    div.flex {
      padding-top: 2rem;
      flex-direction: column;
      border-top: 1px solid #383b4b;
      div {
        padding-bottom: 2rem;
        span {
          display: block;
        }
      }
    }
  }
}
// tablet

@media screen and (min-width: 576px) {
  .destination-main {
    background-image: url(../images/destination/background-destination-tablet.jpg);

    .destination {
      // typographie
      h1 {
        font-size: 5rem;
      }
      .destination-img {
        padding-bottom: 5.86vh;
        img {
          width: 300px;
        }
      }
      ul {
        padding-bottom: 2rem; // 32px
        width: 286px;
      }

      h1 {
        padding-bottom: 0.5rem;
      }

      p {
        padding-bottom: 3.0625rem; //49px
      }
      div.flex {
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 1.75rem; //28px
      }
      div.flex div {
        padding-bottom: 0rem;
      }
    }
  }
}

// desktop

@media screen and (min-width: 1024px) {
  .destination-main {
    background-image: url(../images/destination/background-destination-desktop.jpg);
    .container {
      padding-top: 7.11vh;
    }
    .destination {
      .destination-img {
        img {
          padding-bottom: 0;
        }
      }
      .col1 {
        padding: 3.66vh 10.9vw 0 4.4vw;
      }

      .destination-content {
        width: 445px;
      }
      ul {
        margin: 0;
        padding-bottom: 2.3125rem; //37px
      }
      h1 {
        padding-bottom: 0.875rem; //14px
      }
      p {
        padding-bottom: 3.375rem; //54px
      }
      div.flex {
        justify-content: space-between;
        padding-right: 6.34375rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .destination-main {
    .destination {
      // typographie
      h1 {
        font-size: 6.25rem; //100px
      }
      .destination-img {
        img {
          width: 445px;
        }
      }
    }
  }
}

// small devices
@media screen and (max-width: 575px) {
  .destination-main {
    height: 127vh;
  }
}
