.home-main {
  background-image: url(../images/home/background-home-mobile.jpg);

  // typographie

  h1 {
    font-size: 5rem; //80px
    span {
      display: block;
      font-size: 1rem; //16px
      letter-spacing: 2.7px; //2.7px
      font-family: $font-family3;
      color: $light-color;
    }
  }

  // layout

  .container {
    padding-top: 0;
  }

  .col1 {
    padding-bottom: 12.144vh;
  }

  h1 {
    padding-bottom: 1rem;
    span {
      padding-bottom: 1rem;
    }
  }

  p {
    max-width: 450px;
    margin: 0 auto;
  }

  .col2 {
    text-align: center;
  }
  .home-circle {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    width: 150px;
    height: 150px;
    position: relative;
    &::after {
      position: relative;
      // display: block;
      content: "explore";
      font-size: 1.25rem; //20px
      font-family: $font-family1;
      letter-spacing: 1.25px;
      color: $dark-color;
      text-transform: uppercase;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
    }

    &::before {
      content: "";
      width: 135%;
      height: 135%;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &:hover::before {
      opacity: 0.1;
    }
  }
}

// table

@media screen and (min-width: 576px) {
  .home-main {
    background-image: url(../images/home/background-home-tablet.jpg);

    // typographie
    h1 {
      font-size: 9.375rem; //150px
      // line-height: 9rem; //100px
      span {
        font-size: 1.25rem; //20px
        letter-spacing: 3.375px; //3.375px
        line-height: 1.5rem; //24px
      }
    }

    // layout

    .section {
      padding-top: 19.72vh;
    }

    .container {
      padding-top: 0;
    }

    .col1 {
      padding-bottom: 15.23vh;
    }

    h1 {
      padding-bottom: 1.5rem;
      span {
        padding-bottom: 1.5rem;
      }
    }

    .home-circle {
      height: 242px;
      width: 242px;

      &::after {
        font-size: 2rem; //34px

        letter-spacing: 2px;
      }

      ::before {
        height: 160%;
        width: 160%;
      }
    }
  }
}

// desktop

@media screen and (min-width: 1024px) {
  .home-main {
    background-image: url(../images/home/background-home-desktop.jpg);

    // layout
    .section {
      padding-top: 23.5vh;
    }

    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .col1 {
      padding-bottom: 0;
    }

    p {
      margin: 0;
    }

    .col2 {
      padding-top: 12vh;
    }

    .home-circle {
      height: 274px;
      width: 274px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-main {
    // typography

    h1 {
      span {
        font-size: 1.75rem;
        letter-spacing: 4.72px;
      }
    }

    // layout
    .section {
      padding-top: 43vh;
    }
  }
}
