.technology-main {
  background-image: url(../images/technology/background-technology-mobile.jpg);

  .container {
    width: 100%;
    margin: 0;
  }
  // typography

  h1 {
    font-size: 1.5rem;

    span {
      display: block;
      font-family: $font-family3;
      color: $light-color;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 2.36px;
    }
  }

  // layout
  .col1 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  p {
    max-width: 445px;
    margin: 0 1.5rem;
  }

  .col2 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .technology-content {
    flex-direction: column;
  }

  .technology-numbers {
    flex-direction: row;
    justify-content: center;
    padding: 4.8vh 0 3.66vh; // top 34px bottom 26px
    .technology-number {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: $neutral-color;
      font-size: 1rem;
      font-family: $font-family1;
      justify-content: center;
      align-items: center;
      &__2 {
        margin: 0 1rem;
      }
    }
  }
  h1 {
    padding-bottom: 1rem;
    span {
      padding-bottom: 0.5rem;
    }
  }

  .small {
    height: 23.94vh;
    width: 102vw;
  }

  .beg {
    display: none;
    width: 35.76vw;
    height: 58.55vh;
    text-align: end;
  }
}

// tablet

@media screen and (min-width: 540px) {
  .technology-main {
    p {
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 576px) {
  .technology-main {
    background-image: url(../images/technology/background-technology-tablet.jpg);

    .container {
      width: 100%;
      margin: 0;
    }

    // typography
    h1 {
      font-size: 2.5rem;
      span {
        padding-bottom: 1rem;
      }
    }

    // layout
    .technology-numbers {
      padding: 5.47vh 0 4.29vh;
      .technology-number {
        width: 58px;
        height: 58px;
        font-size: 1.3rem;
      }
    }
  }
}

// desktop

@media screen and (min-width: 1024px) {
  .technology-main {
    background-image: url(../images/technology/background-technology-desktop.jpg);

    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .col1,
    .col2 {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .col1 {
      padding-top: 15.22vh;
    }

    p {
      max-width: 445px;
      margin: 0;
    }
    .col2 {
      padding-top: 2.88rem;
      text-align: end;
    }
    .technology-content {
      flex-direction: row;
    }
    .technology-numbers {
      flex-direction: column;
      padding: 0;
      padding-right: 5rem;
      .technology-number {
        &__2 {
          margin: 2rem 0;
        }
      }
    }

    .small {
      display: none;
    }
    .beg {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1440px) {
  .technology-main {
    // typography
    h1 {
      font-size: 3.5rem; //56px
      span {
        padding-bottom: 0.6875rem; //11px
      }
    }

    .technology-numbers {
      .technology-number {
        width: 80px;
        height: 80px;
        font-size: 2rem;
      }
    }
  }
}

