// Colors

$dark-color: #0b0d17;
$light-color: #d0d6f9;
$neutral-color: #ffffff;

// Typographie

// family
$font-family1: "Bellefair", serif;
$font-family2: "Barlow", sans-serif;
$font-family3: "Barlow Condensed", sans-serif;

// caracter space
$beg-space: 4.72px;
$mediam-space: 2.7px;
$small-space: 2.35px;

// line height
$s-line-height: 25px;

//font SIZE rem
$font-xsm: 0.875rem; //14px
$font-sm: 1rem; // 16px

$font-med: 1.25rem; // 20px
$font-lmed: 1.75rem; //28px

$font-lg: 2.5rem; // 40px
$font-xlg: 3.5rem; // 56px
$font-xxlg: 9.375rem; // 150px
